{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-page.css' | asset_url | stylesheet_tag }}

<style>
  [data-section-id="{{ section.id }}"]{

  {% if section.settings.margin-top %}
  --section-gap-top: {{ section.settings.margin-top }}px;
  {% endif %}

  {% if section.settings.margin-bottom %}
  --section-gap-bottom: {{ section.settings.margin-bottom }}px;
  {% endif %}

      {%- if section.settings.show_mobile_spacing -%}
          --section-gap-top-mobile: {{ section.settings.margin-top-mobile }}px;
      {%- endif -%}

      {%- if section.settings.show_mobile_spacing -%}
          --section-gap-bottom-mobile: {{ section.settings.margin-bottom-mobile }}px;
      {%- endif -%}

  --cols: {{ section.settings.columns_desktop }};
  }

  [data-section-id="{{ section.id }}"] .main-blog__grid__item {
    --font-headline-scale-desk: {{ section.settings.size_heading | divided_by: 100.0 }};

    --font-headline-scale: {{ section.settings.size_heading_mobile | divided_by: 100.0 }};
  }

  {% if section.settings.show_tags %}
    {% assign tags_active_bg_rgb = section.settings.tags_active_background_color | color_to_rgb %}
    {% assign tags_active_color_rgb = section.settings.tags_active_text_color | color_to_rgb %}
    [data-section-id="{{ section.id }}"] .main-blog__tags {
      {% if section.settings.tags_active_background_color != blank and section.settings.tags_active_background_color != 'transparent' and tags_active_bg_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --tags-active-bg: {{ section.settings.tags_active_background_color }};
      {% endif %}
      {% if section.settings.tags_active_text_color != blank and section.settings.tags_active_text_color != 'transparent' and tags_active_color_rgb != 'rgba(0, 0, 0, 0.0)' %}
        --tags-active-color: {{ section.settings.tags_active_text_color }};
      {% endif %}
    }
  {% endif %}
</style>

{% if section.settings.image_ratio == 'portrait' %}
  {% assign customclass = 'hero hero--out hero--out-pic-portrait' %}
{% elsif section.settings.image_ratio == 'square' %}
  {% assign customclass = 'hero hero--out hero--out-pic-square' %}
{% else %}
  {% assign customclass = 'hero hero--out' %}
{% endif %}

{%- paginate blog.articles by 6 -%}
  <div class="main-article" data-section-id="{{ section.id }}">
    {% if section.settings.show_blog_title %}
    <h1 class="headline__title {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}">
      {{ blog.title | escape }}
    </h1>
  {% endif %}

  {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
    {%- liquid
      if section.settings.tags_button_style == 'secondary'
        assign tag_btn_class = 'hero__button hero__button--secondary main-blog__tag'
      else
        assign tag_btn_class = 'hero__button hero__button--primary main-blog__tag'
      endif
    -%}
    <div class="main-blog__tags{% if section.settings.tags_desktop_placement == 'center' %} main-blog__tags--center{% endif %}{% if section.settings.tags_text_style == 'button' %} main-blog__tags--btn-font{% endif %}">
      <div class="main-blog__tag-slide">
        <a class="{{ tag_btn_class }}{% if current_tags == blank %} is-active{% endif %}" href="{{ blog.url }}">
          {{ 'sections.blog_posts.tags_all' | t }}
        </a>
      </div>
      {%- for tag in blog.all_tags -%}
        <div class="main-blog__tag-slide">
          <a class="{{ tag_btn_class }}{% if current_tags contains tag %} is-active{% endif %}" href="{{ blog.url }}/tagged/{{ tag | handleize }}">
            {{- tag -}}
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

    <ul class="main-blog__grid">
      {%- for article in blog.articles -%}
        <div
          class="main-blog__grid__item main-blog__grid__item--{{ section.settings.column_alignment }} {% if settings.animations %} scroll-trigger animate--slide-in {% endif %} {% if settings.disabled_animations_on_mobile %} disabled-on-mobile {% endif %}"
          {% if settings.animations %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'article-card',
            blog: blog,
            article: article,
            show_image: section.settings.show_image,
            classname: customclass,
            make_full_width: section.settings['full-width-enabled'],
            show_author: section.settings.show_author,
            show_date: section.settings.show_date,
            button_type: section.settings.button_select,
            hide_badge: true,
            media_aspect_ratio: section.settings.image_ratio,
            show_article_tags: section.settings.show_article_tags,
            article_tags_count: section.settings.article_tags_count,
            article_tags_text_style: section.settings.article_tags_text_style
          %}
        </div>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_blog_title",
      "default": true,
      "label": "t:sections.main-blog.settings.show_blog_title.label"
    },
    {
      "type": "header",
      "content": "t:sections.blog-posts.settings.tags_header.content"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": false,
      "label": "t:sections.blog-posts.settings.show_tags.label"
    },
    {
      "type": "select",
      "id": "tags_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.settings.settings.button_select.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.settings.settings.button_select.secondary.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.blog-posts.settings.tags_button_style.label",
      "visible_if": "{{ section.settings.show_tags == true }}"
    },
    {
      "type": "select",
      "id": "tags_text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.main-blog.settings.tags_text_style.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.main-blog.settings.tags_text_style.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.main-blog.settings.tags_text_style.label",
      "visible_if": "{{ section.settings.show_tags == true }}"
    },
    {
      "type": "select",
      "id": "tags_desktop_placement",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured_navigation.settings.desktop_placement.label",
      "visible_if": "{{ section.settings.show_tags == true }}"
    },
    {
      "type": "color",
      "id": "tags_active_background_color",
      "default": "#151515",
      "label": "t:sections.blog-posts.settings.tags_active_background_color.label",
      "visible_if": "{{ section.settings.show_tags == true }}"
    },
    {
      "type": "color",
      "id": "tags_active_text_color",
      "label": "t:sections.blog-posts.settings.tags_active_text_color.label",
      "visible_if": "{{ section.settings.show_tags == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.blocks.title.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-blog.blocks.title.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_article_tags",
      "default": false,
      "label": "t:sections.main-blog.settings.show_article_tags.label"
    },
    {
      "type": "range",
      "id": "article_tags_count",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.main-blog.settings.article_tags_count.label",
      "visible_if": "{{ section.settings.show_article_tags == true }}"
    },
    {
      "type": "select",
      "id": "article_tags_text_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.main-blog.settings.tags_text_style.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.main-blog.settings.tags_text_style.options__2.label"
        }
      ],
      "default": "body",
      "label": "t:sections.main-blog.settings.tags_text_style.label",
      "visible_if": "{{ section.settings.show_article_tags == true }}"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.2.label"
        },
        {
          "value": "3",
          "label": "t:sections.main-collection-product-grid.settings.columns_desktop.3.label"
        }
      ],
      "default": "3",
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "button_select",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.settings.settings.button_select.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.settings.settings.button_select.secondary.label"
        },
        {
          "value": "link",
          "label": "t:sections.settings.settings.button_select.link.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.settings.settings.button_select.second_default.label"
    },
    {
      "type": "range",
      "id": "size_heading",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading.label",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "size_heading_mobile",
      "min": 80,
      "max": 300,
      "step": 10,
      "default": 100,
      "label": "t:sections.settings.settings.size-heading-mobile.label",
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.global.section_spacing"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.global.margin-top"
    },
    {
      "type": "range",
      "id": "margin-bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 20,
      "unit": "px",
      "label": "t:sections.global.margin-bottom",
      "info": "t:sections.separator.settings.separator-bottom.info"
    },
    {
      "type": "checkbox",
      "id": "show_mobile_spacing",
      "label": "t:sections.settings.settings.show-mobile-spacing.label"
    },
    {
      "type": "range",
      "id": "margin-top-mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-top-mobile.label",
      "visible_if": "{{ section.settings.show_mobile_spacing }}"
    },
    {
      "type": "range",
      "id": "margin-bottom-mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "unit": "px",
      "label": "t:sections.settings.settings.distance-bottom-mobile.label",
      "visible_if": "{{ section.settings.show_mobile_spacing }}"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
